@import 'base/*';

$fGrayColor: brightness(0) invert(4%) sepia(2%) saturate(6324%) hue-rotate(202deg) brightness(91%) contrast(87%);
$fLimeColor: brightness(0) invert(77%) sepia(4%) saturate(7174%) hue-rotate(20deg) brightness(123%) contrast(92%);

* {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
}

body {
  
}

[class *= "__container"], .container {
  max-width: 1230px;
  padding: 0 30px;
  min-width: 360px;
  margin: 0 auto;

  @media (max-width: 740px) {
    padding: 0 20px;
  }
}

.section {
  
}

.design-author {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #B4B4BB;
}

@import 'blocks/*';