<div class="consult-help">
  <div class="consult-help__content">
    @@if (!context.isSection) {
    <p class="consult-help__title">Помощь эксперта TMdex</p>
    }
    @@if (context.isSection) {
    <h2 class="consult-help__title">Помощь эксперта TMdex</h2>
    }
    <p class="consult-help__descr">
      Регистрация товарного знака с&nbsp;экспертом 
      — это быстро, профессионально и надёжно!
    </p>
    <a href="#popup-consult" class="consult-help__btn btn btn--large btn--lime popup-link">
      <span>Задать вопрос</span>
      <i class="icon-arrow-up-right-medium"></i>
    </a>

    <div class="consult-help__rating">
      <div class="consult-help__stars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </div>
      <p class="consult-help__text">
        «Регистрация товарного знака с&nbsp;ТМдекс — 
        это быстро, профессионально и надёжно!…»
      </p>
      <p class="consult-help__company">Компания «Кот в сапогах»</p>
    </div>
  </div>

  <div class="consult-help__image">
    <img data-src="img/grusdea-a.webp" alt="" class="lazyload" width="266" height="311">
  </div>
</div>