<section class="section form-main  @@class">
  <div class="form-main__container">
    <div class="form-main__wrapper">
      @@if(!context.mktu_select && !context.mktu_select_sub) {
      <h2 class="form-main__title"
        data-text-success="Заявка успешно отправлена!">
        Узнайте вероятность регистрации <br>
        тoварного знака у экспертов
      </h2>
      }
      @@if(context.mktu_select) {
      <h2 class="form-main__title"
        data-text-success="Заявка успешно отправлена!">
        Отправьте эксперту на проверку
      </h2>
      }
      @@if(context.mktu_select_sub) {
      <h2 class="form-main__title"
        data-text-success="Заявка успешно отправлена!">
        Бесплатно проверим шанс регистрации товарного знака в выбранных классах МКТУ
      </h2>
      }


      @@if(context.mktu_select) {
      <div class="form-main__mktu-selects-wrap">
        <p class="form-main__mktu-selects-label">Выбранные классы:</p>
        
        <div class="form-main__mktu-selects">
          @@for (let i = 1; i < 10; i++) {
          <button type="button" class="mktu-select tooltip-link" data-value="0`+i+`" data-href="#tooltip-mktu-0">
            <p class="mktu-select__num">0`+i+`</p>
            <p class="mktu-select__text">Продукты химические 123 123</p>
            <i class="icon-close"></i>
          </button>
          }
          @@for (let i = 10; i < 35; i++) {
          <button type="button" class="mktu-select tooltip-link" data-value="`+i+`" data-href="#tooltip-mktu-0">
            <p class="mktu-select__num">`+i+`</p>
            <p class="mktu-select__text">Продукты химические 123 123</p>
            <i class="icon-close"></i>
          </button>
          }
          <button type="button" class="mktu-select tooltip-link" data-value="35" data-href="#tooltip-mktu-35">
            <p class="mktu-select__num">35</p>
            <p class="mktu-select__text">Продукты химические 123 123</p>
            <i class="icon-close"></i>
          </button>
          @@for (let i = 36; i < 46; i++) {
          <button type="button" class="mktu-select tooltip-link" data-value="`+i+`" data-href="#tooltip-mktu-0">
            <p class="mktu-select__num">`+i+`</p>
            <p class="mktu-select__text">Продукты химические 123 123</p>
            <i class="icon-close"></i>
          </button>
          }
        </div>
      </div>
      }

      <form action="#" class="form-main__form">
        <div class="form-main__inputs-wrap">
          <label class="input" data-status="">
            <p class="input__label">
              Какое название проверяем?
              <i class="icon-alert-question tooltip-link" data-href="#tooltip-no-design"
                style="color: #D6FFAD;"></i>
            </p>
            <div class="input__wrapper">
              <input type="text" placeholder="Например, ТМДЕКС" required>
              <button type="button"><i class="icon-close"></i></button>
            </div>
            <p class="input__helper">Status</p>
          </label>
          <label class="input" data-status="">
            <p class="input__label">
              Телефон для связи
              <i class="icon-alert-question tooltip-link" data-href="#tooltip-no-design"></i>
            </p>
            <div class="input__wrapper">
              <input type="number" placeholder="Номер телефона" required>
              <button type="button"><i class="icon-close"></i></button>
            </div>
            <p class="input__helper">Status</p>
          </label>

          <button type="submit" class="form-main__submit btn btn--large">
            <span>Получить консультацию</span>
          </button>
        </div>

        <label class="form-main__policy-input checkbox">
          <div class="checkbox__input">
            <input type="checkbox" name="policy">
            <i class="icon-check"></i>
          </div>
          <p class="checkbox__label">Даю согласие нa обработку персональных данных, согласно условиям.</p>
        </label>
      </form>
      
      <div class="form-main__socials-wrap">
        @@if(!context.mktu_select && !context.mktu_select_sub) {
        <p class="form-main__descr"
          data-text-success="Наш специалист свяжется с вами через несколько минут. 
          Вы так же можете написать нам в мессенджеры:">
          Оставьте заявку или напишите в мессенджер и
          мы поможем найти решение
        </p>
        }
        @@if(context.mktu_select) {
        <p class="form-main__descr"
          data-text-success="Наш специалист свяжется с вами через несколько минут. 
          Вы так же можете написать нам в мессенджеры:">
          Или напишите в мессенджеры
        </p>
        }
        @@if(context.mktu_select_sub) {
        <p class="form-main__descr"
          data-text-success="Наш специалист свяжется с вами через несколько минут. 
          Вы так же можете написать нам в мессенджеры:">
          Или напишите в мессенджеры
        </p>
        }
        <div class="form-main__socials">
          <a href="#" class="btn btn--secondary">
            <span>Telegram</span>
            <i class="icon-tg"></i>
          </a>
          <a href="#" class="btn btn--secondary">
            <span>WhatsApp</span>
            <i class="icon-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>