<form action="#" class="search-form rel @@class">
  <label class="search-form__input input-text" data-item="name">
    <input type="text" placeholder="Введите название или товарный знак">
    <button type="button" class="btn btn--secondary btn--small">
      <i class="icon-close"></i>
    </button>
  </label>

  <label class="search-form__input input" data-item="mktu">
    <p class="input__label">Уточните поиск, указав тип МКТУ</p>
    <div class="input__wrapper">
      <input type="text" placeholder="Например, реклама или мкту 15">
      <button type="button"><i class="icon-close"></i></button>
    </div>
    <p class="input__helper">Status</p>
  </label>

<!------------------------------- MKTU DROPDOWN ------------------------------------>
  <div action="#" class="mktu-dropdown">
    <ul class="mktu-dropdown__list">
      @@for(let i = 1; i <= 9; i++) {
        <li data-value="0`+i+`" class="mktu">0`+i+`</li>
        <input type="checkbox" name="" value="0`+i+`">
        <input type="checkbox" name="" value="0`+i+`">
      }
      @@for (let i = 10; i <= 45; i++) {
        <li data-value="`+i+`" class="mktu">`+i+`</li>
        <input type="checkbox" name="" value="`+i+`">
        <input type="checkbox" name="" value="`+i+`">
      }
    </ul>
    <div class="mktu-dropdown__checkbox-wrap">
      <label class="mktu-dropdown__checkbox checkbox">
        <div class="checkbox__input">
          <input type="checkbox">
          <i class="icon-check"></i>
        </div>
        <p class="checkbox__label">Учитывать однородные классы</p>
      </label>
      <i class="icon-alert-question tooltip-link" data-href="#tooltip-mktu-legend"></i>
    </div>
    <div class="mktu-dropdown__btns">
      <button type="button" class="mktu-dropdown__apply-btn btn">
        <span>применить</span>
      </button>
      <button type="button" class="mktu-dropdown__clear-btn btn btn--secondary">
        <span>очистить</span>
      </button>
    </div>
  </div>
  <div class="mktu-dropdown-text ">
    <ul class="mktu-dropdown-text__list">
      
      @@for (let i = 1; i < 10; i++) {
        <li class="mktu-dropdown-text__item" data-value="0`+i+`">
          <p class="mktu-dropdown-text__num">0`+i+`</p>
          <p class="mktu-dropdown-text__label">
            Химические продукты, предназначенные для использования в
            промышленных, научных целях и сельском хозяйстве, в том числе,
            входящие в состав товаров, относящихся к другим классам
          </p>
          <p class="mktu-dropdown-text__text">
            <b>Предох</b>ранители для каучука, <b>Предох</b>ранители для консервации кирпичной кладки, за
            исключением
            красок и масел, <b>Предох</b>ранители для цемента, за исключением
            красок и масел, <b>Предох</b>ранители для черепицы, за исключением
            красок и масел, Препараты, <b>Предох</b>раняющие от влажности
            кирпичную или каменную кладку, за исключением красок
          </p>
        </li>
        <input type="checkbox" value="0`+i+`">
      }
      @@for (let i = 10; i < 46; i++) {
        <li class="mktu-dropdown-text__item" data-value="`+i+`">
          <p class="mktu-dropdown-text__num">`+i+`</p>
          <p class="mktu-dropdown-text__label">
            Химические продукты, предназначенные для использования в
            промышленных, научных целях и сельском хозяйстве, в том числе,
            входящие в состав товаров, относящихся к другим классам
          </p>
          <p class="mktu-dropdown-text__text">
            <b>Предох</b>ранители для каучука, <b>Предох</b>ранители для консервации кирпичной кладки, за
            исключением
            красок и масел, <b>Предох</b>ранители для цемента, за исключением
            красок и масел, <b>Предох</b>ранители для черепицы, за исключением
            красок и масел, Препараты, <b>Предох</b>раняющие от влажности
            кирпичную или каменную кладку, за исключением красок
          </p>
        </li>
        <input type="checkbox" value="`+i+`">
      }

    </ul>
    <div class="mktu-dropdown-text__btns">
      <button type="button" class="mktu-dropdown-text__apply-btn btn">
        <span>применить</span>
      </button>
      <button type="button" class="mktu-dropdown-text__clear-btn btn btn--secondary">
        <span>очистить</span>
      </button>
    </div>
    <p class="mktu-dropdown-text__no-find">
      Совпадений нет. Попробуйте другой запрос.
    </p>
  </div>

  <label class="search-form__input search-form__pro-input input" data-item="app">
    <p class="input__label">Заявка ФИПС</p>
    <div class="input__wrapper">
      <input type="text" placeholder="№ 0000 0 00000" data-mask="№ 0000 0 000000">
      <button type="button"><i class="icon-close"></i></button>
    </div>
    <p class="input__helper">Status</p>
  </label>

  <label class="search-form__input search-form__pro-input input" data-item="certif">
    <p class="input__label">Свидетельство ФИПС</p>
    <div class="input__wrapper">
      <input type="text" placeholder="№ 00000000" data-mask="№ 00000000">
      <button type="button"><i class="icon-close"></i></button>
    </div>
    <p class="input__helper">Status</p>
  </label>

  <label class="search-form__input search-form__pro-input input" data-item="inn">
    <p class="input__label">ИНН компании</p>
    <div class="input__wrapper">
      <input type="text" placeholder="00 00 00000 0" data-mask="00 00 00000 0">
      <button type="button"><i class="icon-close"></i></button>
    </div>
    <p class="input__helper">Status</p>
  </label>

  <label class="search-form__switch switch switch--two-text" data-item="switch">
    <div class="switch__wrapper">
      <input type="checkbox" class="search__switch-input" @@if(context.checked) {checked}>
    </div>
    <p class="switch__label">
      <span class="_off">Поиск по заявке, свидетельству, ИНН</span>
      <span class="_on">Переключить на поиск по названию</span>
    </p>
  </label>

  <button type="submit" class="search-form__submit btn btn--lime btn--large" data-item="check">
    <span>Проверить</span>
    <i class="icon-search"></i>
  </button>
  <button type="submit" class="search-form__submit btn btn--lime btn--large" data-item="search">
    <span>Найти</span>
    <i class="icon-search"></i>
  </button>
</form>