.about-title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #19191D;

  @media (max-width: 740px) {
    font-size: 34px;
    margin-top: 35px;
  }
}