.about-text-block {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__wrapper {
    position: relative;
    padding: 40px 60px;
    background: #ccff99;
    border-radius: 20px;
    overflow: hidden;

    p {
      position: relative;
      font-weight: 400;
      font-size: 34px;
      line-height: 126%;
      text-align: center;
      color: #19191D;
    }

    &::before {
      content: '';
      background: url(../img/rounds-decor2.svg) no-repeat bottom center;
      background-size: contain;
      position: absolute;
      right: 50px;
      bottom: 0px;
      width: 480px;
      height: 240px;
      display: block;

      @media (max-width: 940px) {
        width: 712px;
        height: 356px;
        right: -256px;
      }

      @media (max-width: 740px) {
        width: 380px;
        height: 190px;
        right: -140px;
      }
    }


    @media (max-width: 740px) {
      padding: 20px 15px;

      p { font-size: 20px; }
    }
  }
}
