.accordeon {
  padding: 20px 0;
  display: grid;
  gap: 10px 30px;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #D2D2D6;
  cursor: pointer;
  user-select: none;

  &--with-switch {
    grid-template-columns: 1fr auto auto;

    @media (max-width: 740px) {
      grid-template-columns: 1fr auto;
    }
  }
  &--with-switch:has(.accordeon-switch-hide:checked) + .subaccordeon .accordeon-elem-allow-hidden {
    display: none;
  }
  &--with-switch:not(.--active) .switch {
    opacity: 0;
    pointer-events: none;
  }
  &--with-switch .switch {
    transition: .3s ease;
  }

  &--for-mobile {
    @media (max-width: 740px) {
      padding: 0;
      border-bottom: none;
      pointer-events: none;
    }
  }
   
  &>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #19191D;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s ease;

    b {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #787885;
    }
  }
  &--for-mobile>p b {
    @media (max-width: 740px) {
      display: none;
    }
  }

  &>.btn {
    position: relative;
  }
  &--with-switch>.btn {

    @media (max-width: 740px) {
      grid-column: 2;
      grid-row: 1 / 3;
    }
  }
  &--for-mobile>.btn {
    @media (max-width: 740px) {
      display: none;
    }
  }

  &>.btn i {
    transition: .2s ease;
  }

  &>.btn .icon-close, &>.btn .icon-minus {
    position: absolute;
    opacity: 0;
    transform: scale(0);
  }

  // State disabled
  &[disabled] {
    pointer-events: none;
    opacity: .3;
  }

  // State hover
  @media (any-hover: hover) {
    &:hover>p {
      color: #4A4B57;
    }
  }

  // State active
  &.--active {
    border-bottom: none;
  }
  &--for-mobile.--active {
    border-bottom: 1px solid #D2D2D6;

    @media (max-width: 740px) {
      border-bottom: none;
    }
  }
  &.--active>.btn .icon-close, &.--active>.btn .icon-minus {
    opacity: 1;
    transform: scale(1);
  }

  &.--active>.btn .icon-plus {
    opacity: 0;
    transform: scale(0);
  }
}