.accordeon {
  padding: 20px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #D2D2D6;
  cursor: pointer;
   
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #19191D;
    display: flex;
    align-items: center;
    gap: 10px;

    b {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #787885;
    }
  }

  .btn {
    position: relative;
  }

  .btn i {
    transition: .2s ease;
  }

  .btn .icon-close {
    position: absolute;
    opacity: 0;
    transform: scale(0);
  }

  // State disabled
  &[disabled], &[data-count="0"] {
    pointer-events: none;
    opacity: .3;
  }

  // State active
  &.--active {
    border-bottom: none;
  }
  &.--active .btn .icon-close {
    opacity: 1;
    transform: scale(1);
  }

  &.--active .btn .icon-plus {
    opacity: 0;
    transform: scale(0);
  }

  // Report
  &--report {
    position: relative;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    border: none;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #D2D2D6;
    border-radius: 10px;
  }
  &--report.--active {
    border-radius: 10px 10px 0 0;
  }
  &--report.--active::after {
    content: '';
    position: absolute;
    height: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 1px solid #D2D2D6;
  }
  &--report>i {
    font-size: 35px;
    color: #787885;
  }
  &--report p {
    display: block;
  }
  &--report p b {
    font: inherit;
    color: inherit;
    font-weight: 700;
  }
}