.article-content {
  margin-top: 40px;
  min-height: 1000px;
  padding-bottom: 40px;

  &__container {
    max-width: 690px+60;
    position: relative;

    @media (max-width: 940) {
      max-width: 584px+60;
    }

    .more-articles {
      padding-top: 20px;
      padding-bottom: 40px;
      position: absolute;
      width: 200px;
      top: 0;
      right: -210px;

      @media (max-width: 1230px) {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 126%;
    letter-spacing: -0.02em;
    color: #19191D;
    margin-top: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #19191D;
    margin-top: 40px;

    a {
      text-decoration: underline;
      transition: .3s ease;

      @media (any-hover: hover) {
        &:hover {
          text-decoration-color: transparent;
        }
      }
    }
  }
}