.article-content {
  margin-top: 40px;
  min-height: 1000px;
  padding-bottom: 40px;

  &__container {
    max-width: 690px+60;
    position: relative;

    @media (max-width: 940) {
      max-width: 584px+60;
    }

    .more-articles {
      padding-top: 20px;
      padding-bottom: 40px;
      position: absolute;
      width: 200px;
      top: 0;
      right: -210px;

      @media (max-width: 1230px) {
        display: none;
      }
    }
  }
}