.article-short {
  max-width: 690px;
  margin-top: 40px;

  @media (max-width: 940px) {
    max-width: 584px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 30px;
    gap: 5px;
    border: 1px solid #566B40;
    border-radius: 20px;

    @media (max-width: 740px) {
      padding: 20px 15px 15px;
    }
  }

  &__label {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #566B40;
    border-bottom: 1px solid #D2D2D6;
  }

  &__list {

    li {
      padding-top: 10px;
      gap: 10px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #566B40;

      @media (max-width: 740px) {
        font-size: 14px;
      }
    }
  }
}