.consult-help {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 10px 0px;
  background: #F0F0F1;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px 40px 0px;
  background: linear-gradient(107.06deg, #A8D17D 1.09%, #566B40 100%);

  @media (max-width: 1230px) {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 0;
  }

  @media (max-width: 740px) {
    padding: 30px 20px 0;
    gap: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;

    @media (max-width: 1230px) {
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #FFFFFF;

    @media (max-width: 1230px) {
      font-size: 34px;
    }
  }

  &__descr {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }

  &__btn {
    margin-bottom: 30px;
    
    &:not(:active) i {
      color: #787885;
    }

    @media (max-width: 1230px) {
      width: 100%;
    }

    @media (max-width: 740px) {
      padding: 16px 32px;
      font-size: 14px;
    }
  }

  &__rating {
  }

  &__stars {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;

    i { color: #FFE57F; font-size: 12px;}
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #19191D;
    margin-bottom: 5px;
  }

  &__company {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #4A4B57;
  }

  &__image {
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (max-width: 1230px) {
      align-self: stretch;
    }

    &::before {
      content: '';
      background: url(../img/tm.svg) no-repeat center;
      background-size: contain;
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 0;
      right: 0;
      filter: blur(5px);
    }

    img {
      position: relative;
      display: block;
      object-fit: contain;
      object-position: center bottom;
      z-index: 4;
      height: 301px;

      @media (max-width: 1230px) {
        height: 311px;
      }

      @media (max-width: 740px) {
        height: 162px;
      }
    }
  }
}