.faq {
  margin-top: 80px;

  &--block {
    margin-top: 40px;
  }

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__title-wrap {
    gap: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 940px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 126%;
     color: #19191D;

    b {
      color: #B4B4BB;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #19191D;
    }
  }

  &__tab-btns {
    display: flex;
    gap: 5px;
    align-items: center;
    overflow-x: auto;
    padding: 20px;
    margin: -20px;
    margin-top: 60px;

    @media (max-width: 740px) {
      margin-top: 60px;
    }
  }

  &__accordeons {
    margin-top: 40px;
  }
}