.footer {
  padding: 60px 0 30px;
  background: #3A3A44;
  color: white;

  &__container {
    display: grid;
    grid-template-columns: 568px 1fr auto;
    gap: 30px;

    @media (max-width: 1230px) {
      grid-template-columns: 1fr auto;
    }
  }

  &__contacts-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #F9F9FA;
    grid-column: 1;
    grid-row: 1;

    @media (max-width: 740px) {
      grid-column: 1 / 3;
    }

    img {
      vertical-align: middle;
    }
  }

  &__contacts-btns {
    display: flex;
    gap: 10px 30px;
    align-items: center;
    grid-column: 1;
    grid-row: 2;

    @media (max-width: 1230px) {
      grid-column: 1 / 3;
      grid-row: auto;
    }

    @media (max-width: 440px) {
      gap: 10px 5px;
    }
  }

  &__socials-btns {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 440px) {
      gap: 5px;
    }
  }

  &__contacts-list {
    display: flex;
    gap: 20px 30px;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 3;

    @media (max-width: 1230px) {
      grid-column: 1 / 3;
      grid-row: auto;
    }

    @media (max-width: 740px) {
      flex-direction: column;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: #B4B4BB;
    }

    a {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #F9F9FA;
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: #B4B4BB;
        }
      }
    }
  }

  &__contacts-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 1;
    grid-row: 4;

    @media (max-width: 1230px) {
      grid-column: 1 / 3;
      grid-row: auto;
    }

    @media (max-width: 740px) {
      gap: 20px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: #B4B4BB;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2;
    grid-row: 1 / 5;

    @media (max-width: 1230px) {
      grid-column: 1;
      grid-row: auto;
      margin-top: 10px;
    }

    li a {
      font-size: 16px;
      line-height: 130%;
      color: #F9F9FA;
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: #B4B4BB;
        }
      }
    }
  }

  &__logo {
    display: flex;
    grid-column: 3;
    grid-row: 1;

    @media (max-width: 1230px) {
      grid-column: 2;
      grid-row: 1;
    }

    @media (max-width: 740px) {
      grid-column: 1 / 3;
      grid-row: auto;
      margin-top: 10px;
    }

    a {
      height: 40px;
      width: auto;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column: 3;
    grid-row: 2 / 5;
    margin-top: 10px;

    ._divider {
      display: none;
    }

    @media (max-width: 1230px) {
      grid-column: 1 / 3;
      grid-row: auto;

      flex-direction: row;
      flex-wrap: wrap;

      ._divider {
        display: block;
      }
    }

    @media (max-width: 740px) {
      justify-content: flex-start;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: #B4B4BB;
    }

    p a {
      text-decoration: underline;
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: #F9F9FA;
          text-decoration-color: transparent;
        }
      }
    }

    .design-author {

      @media (max-width: 1230px) {
        margin-left: auto;
      }

      @media (max-width: 740px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}