.mktu-slider {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 126%;
    color: #19191D;

    b {
      color: #B4B4BB;
    }
  }

  &__slider {
    touch-action: pan-y;
    overflow: hidden;
    padding: 30px 0;
    margin: -30px 0;
    margin-top: 50px;
    margin-right: -30px;
    width: 0;
    min-width: calc(100% + 30px);

    @media (max-width: 740px) {
      margin-top: 10px;
    }

    .swiper-wrapper {
      display: flex;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px 30px 30px;
    gap: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D2D6;
    border-radius: 20px;
    width: 285px;
    flex-shrink: 0;
  }

  &__item-num {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F0F0F1;
    border-radius: 100px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #19191D;
  }
}