.mktu-accordeon {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 5px;
  transition: .3s ease;

  &__label {
    gap: 5px 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 10px 10px 20px;
    border-radius: 5px;
  }

  &.--busy &__label {
    border-left-color: #F44336;
    border-right-color: #F44336;
  }

  &__label-num {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    width: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19191D;
  }

  &.--busy &__label-num {
    color: #F44336;
  }

  &__label-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    &.--busy {
      color: #F44336;
    }
  }

  &__toggle-btn {
    align-self: flex-start;
  }

  &__label-text {
    grid-column: 2 / 4;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    ._busy {
      font-weight: 700;
      color: #F44336;
    }

    &.--busy {
      color: #F44336;
    }
  }

  &__dropdown {
    max-height: 0px;
    transition: .5s ease;
    overflow: hidden;
    opacity: 0;
  }
  &.--active &__dropdown {
    opacity: 1;
  }

  &__wrapper {
    padding: 10px 10px 20px 51px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;
    overflow: hidden;
    text-overflow: ellipsis;

    max-height: calc(1.43 * 13em);

    &.--busy {
      color: #F44336;
    }

    ._busy {
      font-weight: 700;
      color: #F44336;
    }
  }

  &__text-open-btn,
  &__text-close-btn {
    margin-left: auto;
    margin-right: auto;
  }

  &__dropdown:not(.--text-show) &__text-close-btn {
    display: none;
  }
  &__dropdown.--text-show &__text-open-btn {
    display: none;
  }

  @media (any-hover: hover) {
    &:hover {
      background: #F0F0F1;
    }
  }
}