.orgs-slider {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  .swiper {
    overflow: hidden;
    margin-right: -30px;
    width: 0;
    min-width: calc(100% + 30px);
    touch-action: pan-y;
  }

  .swiper-wrapper {
    display: flex;
  }

  &__line {
    border-bottom: 1px solid #D2D2D6;
    margin-top: 80px;

    @media (max-width: 740px) {
      margin-top: 40px;
    }
  }

	&__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    width: 220px;
    flex-shrink: 0;

    img {
      object-fit: contain;
      object-position: center;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      color: #19191D;
    }

    @media (max-width: 940px) {
      // flex: 0 0 200px;
    }
	}
}