.price-total {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 15px;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
  border-radius: 20px;

  @media (max-width: 740px) {
    padding: 30px 20px;
  }

  &__price {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #19191D;

    b {
      padding: 5px 10px;
      background: #CCFF99;
      border-radius: 50px;
    }
  }

  &__top-list {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 5px;

    li {
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #19191D;
    }
  }

  &__main-btn {
    @media (max-width: 440px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__rating-stars {
    display: flex;
    gap: 5px;
    align-items: center;

    i {
      font-size: 12px;
      color: #4A4B57;
    }
  }

  &__rating-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #19191D;    
  }

  &__rating-name {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #787885;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    gap: 10px;
    border-bottom: 1px dashed #D2D2D6;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &.--bold {
      font-weight: 700;
      color: #787885;
    }
  }

  &__item-label {
    padding-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
  }

  &__notice {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #F0F0F1;
    border: 1px solid #D2D2D6;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    @media (max-width: 940px) {
      display: none;
    }

    i {
      color: #787885;
      font-size: 20px;
    }
  }
}