.price-total {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 15px;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  position: relative;

  @media (max-width: 740px) {
    padding: 30px 20px;
  }

  &__loader, &__loader-error {
    position: absolute;
    border-radius: 20px;
    inset: 0;
    background: #FFFFFF;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 30px 40px;

    @media (max-width: 740px) {
      padding: 30px 20px;
    }

    &>p {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      color: #19191D;

      a {
        text-decoration: underline;
        transition: .3s ease;
  
        @media (any-hover: hover) {
          &:hover {
            text-decoration-color: transparent;
          }
        }
      }
    }

    &>i {
      font-size: 40px;

      &.icon-loader {
        animation: spin 1.5s linear infinite;
      }
    }
  }

  &[data-status="load"] &__loader {
    pointer-events: all;
    opacity: 1;
  }

  &[data-status="error"] &__loader-error {
    pointer-events: all;
    opacity: 1;
  }

  &__price {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #19191D;

    b {
      padding: 5px 10px;
      background: #CCFF99;
      border-radius: 50px;

      &::before {
      }
    }
  }
  &:not([data-status="success"]) &__price b {
    position: relative;
    color: transparent;
    background: #F0F0F1;
    overflow: hidden;
    border-radius: 100px;

    &::before {
      content: '';
      position: absolute;
      left: 30%;
      background: #F9F9FA;
      top: 0;
      height: 100%;
      width: 30px;
      transform-origin: left bottom;
      transform: skewX(-30deg);
      animation: calc-loader 1s linear infinite;
    }
  }

  &__top-list {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 5px;

    li {
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #19191D;
    }
  }

  &__main-btn {
    @media (max-width: 440px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__rating-stars {
    display: flex;
    gap: 5px;
    align-items: center;

    i {
      font-size: 12px;
      color: #4A4B57;
    }
  }

  &__rating-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #19191D;    
  }

  &__rating-name {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #787885;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    gap: 10px;
    border-bottom: 1px dashed #D2D2D6;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &.--bold {
      font-weight: 700;
      color: #787885;
    }
  }
  &:not([data-status="success"]) &__item b {
    position: relative;
    color: transparent;
    background: #F0F0F1;
    overflow: hidden;
    border-radius: 100px;

    &::before {
      content: '';
      position: absolute;
      left: 30%;
      background: #F9F9FA;
      top: 0;
      height: 100%;
      width: 30px;
      transform-origin: left bottom;
      transform: skewX(-30deg);
      animation: calc-loader 1s linear infinite;
    }
  }

  &__item-label {
    padding-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
  }

  &__notice {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #F0F0F1;
    border: 1px solid #D2D2D6;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #19191D;

    @media (max-width: 940px) {
      display: none;
    }

    i {
      color: #787885;
      font-size: 20px;
    }
  }
}