.services-tabs {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    .accordeon {
      @media (max-width: 740px) {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }
}