.service-info {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 126%;
    color: #19191D;
    margin-bottom: 80px;
    max-width: 470px;

    @media (max-width: 740px) {
      margin-bottom: 40px;
    }

    b {
      color: #B4B4BB;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 1230px) {
      grid-template-columns: 1fr;
    }

    &.--colls-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media (max-width: 1230px) {
        grid-template-columns: 1fr;
      }
    }

    .svc-info-card {
      position: relative;

      &:not(:first-child) {

        @media (max-width: 1230px) {
          margin-top: -20px;
        }
      }
    }
  }
}