.status {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 4px 10px;
  gap: 2px;
  background: #43A047;
  border-radius: 4px;

  &--green2 {
    color: #132C14;
    background: #DCEDDD;
  }

  &--gray {
    background: #5A5B6A;
  }

  &--red {
    color: #F44336;
    background: #FEEDEC;
  }

  &--yellow {
    color: #392E00;
    background: #FFF4C7;
  }
}