.tab-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #5A5B6A;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px 13px;
  border-bottom: 1px solid #D2D2D6;
  transition: .2s ease;
  white-space: nowrap;

  b {
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #F44336;

    &.--success {
      color: #43A047;
    }
    &.--danger {
      color: #F44336;
    }
  }

  &--rounded {
    padding: 10px 15px;
    background: #F9F9FA;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #19191D;
    border: 1px solid transparent;
  }

  // State disabled
  &:disabled {
    pointer-events: none;
    opacity: .3;
    border-color: transparent;
  }

  // State hover
  @media (any-hover: hover) {
    &:hover {
      background: #F9F9FA;
    }
    &--rounded:hover {
      background: #F0F0F1;
    }
  }

  // State active
  &.--active {
    background: #F0F0F1;
    color: #19191D;
    border-bottom: 3px solid #5A5B6A;
    padding-bottom: 11px;
  }
  &--rounded.--active {
    background: #FFFFFF;
    border-color: #D2D2D6;
    border-radius: 8px;
    border: 1px solid #D2D2D6;
  }

  // State pressed 
  &:active {
    background: #E1E1E3;
  }

  // State focused
  &:focus {
    box-shadow: 0 0 0 3px #D2D2D6;
  }
}