.tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #5A5B6A;
  padding: 5px 10px;
  border: 1px solid #D2D2D6;
  border-radius: 50px;

  &--white {
    background: white;
    border-color: transparent;
    color: #5A5B6A;
  }
}