.team-items {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 740px) {
    gap: 20px;
  }

  &__line {
    margin-top: 40px;
    border-bottom: 1px solid #D2D2D6;

    @media (max-width: 740px) {
      margin-top: 20px;
    }
  }
}