.why-stat {
  margin-top: 80px;

  @media (max-width: 740px) {
    margin-top: 40px;
  }

  &__container {
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px;
    background: #F9F9FA;
    border-radius: 20px;

    @media (max-width: 740px) {
      padding: 30px 20px 20px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 126%;
    color: #19191D;
  }

  &__list-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px;
    background: #FFFFFF;
    border-radius: 20px;

    .alert-text {
      margin-top: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    @media (max-width: 740px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__litem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    background: #FEEDEC;
    border-radius: 20px;

    @media (max-width: 740px) {
      padding: 15px 15px 30px;
      justify-content: flex-start;
      &:nth-child(3) {
        grid-column: 1 / 3;
      }
    }
  }
  &__litem.--orange {
    background: #FEF3E7;
  }
  &__litem.--yellow {
    background: #FFFAE5;
  }

  &__litem-num {
    font-weight: 400;
    font-size: 34px;
    line-height: 126%;
    color: #C8372D;

    @media (max-width: 740px) {
      font-size: 24px;
    }
  }
  &__litem.--orange &__litem-num {
    color: #CE6B00;
  }
  &__litem.--yellow &__litem-num {
    color: #E0B300;
  }

  &__litem-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #19191D;

    @media (max-width: 740px) {
      font-size: 12px;
    }
  }
  
}