@@include('blocks/_header.html')
<main class="page page-mktu-select">
  <section class="section search">
    <div class="search__container">
      <h1 class="search__title">
        Подберите МКТУ для <br>
        товарного знака</h1>
      
      <form class="search-form-mktu">
        <label class="search-form-mktu__input input">
          <p class="input__label">
            Поиск МКТУ <span class="_grey">(12 редакция 2023 года)</span>
            <i class="icon-alert-question tooltip-link" data-href="#tooltip-mktu-class"></i>
          </p>
          <div class="input__wrapper">
            <input type="text" placeholder="Например, реклама или мкту 15">
            <button type="button"><i class="icon-close"></i></button>
          </div>
          <p class="input__helper">Status</p>
        </label>

        <button type="submit" class="search-form__submit btn btn--lime btn--large">
          <span>Найти</span>
          <i class="icon-search"></i>
        </button>

        <div action="#" class="mktu-dropdown">
          <ul class="mktu-dropdown__list">
            @@for(let i = 1; i <= 9; i++) {
              <li data-value="0`+i+`" class="mktu">0`+i+`</li>
              <input type="checkbox" name="" value="0`+i+`">
              <input type="checkbox" name="" value="0`+i+`">
            }
            @@for (let i = 10; i <= 45; i++) {
              <li data-value="`+i+`" class="mktu">`+i+`</li>
              <input type="checkbox" name="" value="`+i+`">
              <input type="checkbox" name="" value="`+i+`">
            }
          </ul>
          <div class="mktu-dropdown__checkbox-wrap">
            <label class="mktu-dropdown__checkbox checkbox">
              <div class="checkbox__input">
                <input type="checkbox">
                <i class="icon-check"></i>
              </div>
              <p class="checkbox__label">Учитывать корреспондирующие классы</p>
            </label>
            <i class="icon-alert-question tooltip-link" data-href="#tooltip-mktu-legend-corresp"></i>
          </div>
          <div class="mktu-dropdown__btns">
            <button type="button" class="mktu-dropdown__apply-btn btn">
              <span>применить</span>
            </button>
            <button type="button" class="mktu-dropdown__clear-btn btn btn--secondary">
              <span>очистить</span>
            </button>
          </div>
        </div>

        <div class="mktu-dropdown-text ">
          <ul class="mktu-dropdown-text__list">
            
            @@for (let i = 1; i < 10; i++) {
              <li class="mktu-dropdown-text__item" data-value="0`+i+`">
                <p class="mktu-dropdown-text__num">0`+i+`</p>
                <p class="mktu-dropdown-text__label">
                  Химические продукты, предназначенные для использования в
                  промышленных, научных целях и сельском хозяйстве, в том числе,
                  входящие в состав товаров, относящихся к другим классам
                </p>
                <p class="mktu-dropdown-text__text">
                  <b>Предох</b>ранители для каучука, <b>Предох</b>ранители для консервации кирпичной кладки, за
                  исключением
                  красок и масел, <b>Предох</b>ранители для цемента, за исключением
                  красок и масел, <b>Предох</b>ранители для черепицы, за исключением
                  красок и масел, Препараты, <b>Предох</b>раняющие от влажности
                  кирпичную или каменную кладку, за исключением красок
                </p>
              </li>
              <input type="checkbox" value="0`+i+`">
            }
            @@for (let i = 10; i < 46; i++) {
              <li class="mktu-dropdown-text__item" data-value="`+i+`">
                <p class="mktu-dropdown-text__num">`+i+`</p>
                <p class="mktu-dropdown-text__label">
                  Химические продукты, предназначенные для использования в
                  промышленных, научных целях и сельском хозяйстве, в том числе,
                  входящие в состав товаров, относящихся к другим классам
                </p>
                <p class="mktu-dropdown-text__text">
                  <b>Предох</b>ранители для каучука, <b>Предох</b>ранители для консервации кирпичной кладки, за
                  исключением
                  красок и масел, <b>Предох</b>ранители для цемента, за исключением
                  красок и масел, <b>Предох</b>ранители для черепицы, за исключением
                  красок и масел, Препараты, <b>Предох</b>раняющие от влажности
                  кирпичную или каменную кладку, за исключением красок
                </p>
              </li>
              <input type="checkbox" value="`+i+`">
            }
      
          </ul>
          <div class="mktu-dropdown-text__btns">
            <button type="button" class="mktu-dropdown-text__apply-btn btn">
              <span>применить</span>
            </button>
            <button type="button" class="mktu-dropdown-text__clear-btn btn btn--secondary">
              <span>очистить</span>
            </button>
          </div>
          <p class="mktu-dropdown-text__no-find">
            Совпадений нет. Попробуйте другой запрос.
          </p>
        </div>
      </form>
    </div>
  </section>
  
  @@include('blocks/_form-main.html', {mktu_select: true, class: "--mktu-select"})

  <section class="mktu-helper">
    <div class="mktu-helper__container">
      <h2 class="mktu-helper__title">
        <b>МКТУ</b> для товаров
      </h2>
      <ul class="mktu-helper__list">
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">01</span>
          <span class="mktu-helper__item-text">
            Химические продукты, предназначенные для использования в 
            промышленных, научных целях и сельском хозяйстве, в том числе, 
            входящие в состав товаров, относящихся к другим классам.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">02</span>
          <span class="mktu-helper__item-text">
            Краски, вещества красящие и средства защитные от коррозии.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">03</span>
          <span class="mktu-helper__item-text">
            Препараты туалетные немедицинские, такие как препараты для уборки, используемые как дома, так и в окружающих средах.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">04</span>
          <span class="mktu-helper__item-text">
            масла и смазки технические, топлива и материалы осветительные.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">05</span>
          <span class="mktu-helper__item-text">
            Фармацевтические и прочие препараты для медицинских или ветеринарных целей.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">06</span>
          <span class="mktu-helper__item-text">
            Необработанные и частично обработанные обычные металлы и руды, и некоторые изделия из них.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">07</span>
          <span class="mktu-helper__item-text">
            Машины, станки и двигатели.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">08</span>
          <span class="mktu-helper__item-text">
            Орудия и инструменты ручные, предназначенные для таких работ, как сверление, обработка, резание и бурение.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">09</span>
          <span class="mktu-helper__item-text">
            Аппараты и инструменты научные или исследовательские, оборудование для аудиовизуальных и информационных технологий, а также оборудование для спасения и защиты.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">10</span>
          <span class="mktu-helper__item-text">
            Приборы медицинские, инструменты и изделия хирургические, медицинские, стоматологические и ветеринарные для диагностики лечения или улучшения функций или состояние здоровья людей и животных.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">11</span>
          <span class="mktu-helper__item-text">
            Устройства и установки для контроля за состоянием окружающей среды, в частности для освещения, приготовления пищи, охлаждения и санитарной обработки.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">12</span>
          <span class="mktu-helper__item-text">
            Аппараты и машины для перевозки людей или грузов по земле, воздуху и воде.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">13</span>
          <span class="mktu-helper__item-text">
            Оружие огнестрельное и средства пиротехнические.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">14</span>
          <span class="mktu-helper__item-text">
            Металлы благородные и некоторые изделия из благородных металлов или с покрытием из них, такие как изделия ювелирные, бижутерия и часы, и их составные части.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">15</span>
          <span class="mktu-helper__item-text">
            Музыкальные инструменты, их части и аксессуары.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">16</span>
          <span class="mktu-helper__item-text">
            Бумага, картон и некоторые изделия из этих материалов, в частности принадлежности конторские.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">17</span>
          <span class="mktu-helper__item-text">
            Электро-, тепло- и звукоизоляционные материалы и пластмассы частично обработанные в виде листов, плиток, пластин или прутков, а также некоторые изделия из каучука, гуттаперчи, камеди, асбеста, слюды или их заменителей.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">18</span>
          <span class="mktu-helper__item-text">
            кожу, имитацию кожи и некоторые изделия из этих материалов.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">19</span>
          <span class="mktu-helper__item-text">
            Кожа, имитация кожи и некоторые изделия из этих материалов.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">20</span>
          <span class="mktu-helper__item-text">
            Материалы строительные неметаллические.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">21</span>
          <span class="mktu-helper__item-text">
            Мебель, ее части и изделия из дерева, пробки, камыша, тростника, ивы, рога, кости, китового уса, раковин, янтаря, перламутра, морской пенки и заменителей этих материалов или пластмасс.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">22</span>
          <span class="mktu-helper__item-text">
            Приспособления и устройства домашние или кухонные малогабаритные, приводимые в действие вручную, утварь, включая туалетную и косметическую, стеклянную и некоторые изделия из фарфора, керамики, фаянса, терракота и стекла.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">23</span>
          <span class="mktu-helper__item-text">
            Нити из натуральных или синтетических материалов, используемые для производства текстиля.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">24</span>
          <span class="mktu-helper__item-text">
            Ткани и тканевые покрывала для бытового использования.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">25</span>
          <span class="mktu-helper__item-text">
            Предметы одежды для людей.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">26</span>
          <span class="mktu-helper__item-text">
            Изделия галантерейные и басонные, волосы натуральные или синтетические и украшения для волос, а также изделия, предназначенные для украшения различных предметов, не вошедшие в другие классы.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">27</span>
          <span class="mktu-helper__item-text">
            Изделия, предназначенные для покрытия готовых полов или стен.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">28</span>
          <span class="mktu-helper__item-text">
            Игрушки, аппараты игровые, оборудование спортивное, изделия для развлечения и шуток, также как и некоторые изделия для новогодних елок.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">29</span>
          <span class="mktu-helper__item-text">
            Продовольственные товары животного происхождения, а также овощи и садово-огородные продукты, консервированные или подготовленные для употребления.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">30</span>
          <span class="mktu-helper__item-text">
            Продукты растительные пищевые, кроме овощей и фруктов, подготовленные для потребления или консервирования, а также добавки вспомогательные, предназначенные для улучшения вкусовых качеств пищевых продуктов.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">31</span>
          <span class="mktu-helper__item-text">
            Продукты земледелия и моря, не подвергнутые никакой обработке для потребления, живых животных и живые растения, а также корма для животных.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">32</span>
          <span class="mktu-helper__item-text">
            Напитки безалкогольные, а также пиво.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">33</span>
          <span class="mktu-helper__item-text">
            Напитки алкогольные, эссенции и экстракты.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">34</span>
          <span class="mktu-helper__item-text">
            Табак и предметы, используемые для курения, а также некоторые аксессуары и емкости, связанные с их использованием.
          </span>
        </a>        
      </ul>
      <h2 class="mktu-helper__title"><b>МКТУ</b> для услуг</h2>
      <ul class="mktu-helper__list">
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">35</span>
          <span class="mktu-helper__item-text">
            Услуги, связанные с управлением бизнесом, эксплуатацией, организацией и администрированием коммерческих или промышленных предприятий, а также рекламу, услуги маркетинга и продвижения. На практике к 35 классу, как правило, относят торговлю.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">36</span>
          <span class="mktu-helper__item-text">
            Услуги, связанные с банковскими и финансовыми операциями, услуги по финансовой оценке, а также деятельность в сфере страхования и недвижимости.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">37</span>
          <span class="mktu-helper__item-text">
            Услуги в области строительства, а также услуги по реставрации объектов в их первоначальном виде, или их сохранения без изменения их физических или химических характеристик.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">38</span>
          <span class="mktu-helper__item-text">
            Услуги, дающие возможность, по меньшей мере, одному лицу установить связь с другим лицом, в частности, услуги вещания и передачи данных.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">39</span>
          <span class="mktu-helper__item-text">
            Услуги, относящиеся к перевозке людей, животных или товаров из одного места в другое железнодорожным, автомобильным, водным, воздушным транспортом или по трубопроводу, а также такие услуги, связанные с этой перевозкой, как складирование товаров в помещениях любого типа, склады или другие здания, с целью предотвращения их повреждения или хищения.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">40</span>
          <span class="mktu-helper__item-text">
            Услуги, оказываемые в рамках химической или механической обработки, преобразовании или производстве неорганических веществ или органических объектов, в том числе по заказу.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">41</span>
          <span class="mktu-helper__item-text">
            Все формы обучения и профессиональной подготовки, услуги, целью которых являются увеселение, развлечение и отдых людей, а также услуги по предоставлению публике произведений визуального искусства или литературы в культурных или образовательных целях.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">42</span>
          <span class="mktu-helper__item-text">
            Услуги в отношении теоретических и практических аспектов сложных областей деятельности, предоставляемые лицами, например, научных лабораторий, инженерные услуги, компьютерное программирование, архитектурные услуги или дизайн интерьера.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">43</span>
          <span class="mktu-helper__item-text">
            Услуги, связанные с приготовлением еды и напитков для употребления, а также услуги по предоставлению временного жилья.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">44</span>
          <span class="mktu-helper__item-text">
            Медицинское обслуживание, включая альтернативную медицину, услуги в области гигиены и косметики, оказываемые лицами или учреждениями людям и животным; услуги, относящиеся к области сельского хозяйства, аквакультуры, огородничества и лесоводства.
          </span>
        </a>
        <a class="mktu-helper__item" href="#">
          <span class="mktu-helper__item-num">45</span>
          <span class="mktu-helper__item-text">
            Юридические услуги и услуги по обеспечению безопасности, а также некоторые персональные и социальные услуги, оказываемые другими для удовлетворения потребностей физических лиц.
          </span>
        </a>
      </ul>
    </div>
  </section>

  @@include('blocks/_form-main.html', {mktu_select_sub: true})

  <section class="mktu-whatis container">
    <div class="mktu-whatis__wrapper">
      <h2 class="mktu-whatis__title">
        Что такое МКТУ и зачем это нужно?
      </h2>
      <p class="mktu-whatis__text">
        Международная классификация товаров и услуг (МКТУ) — это перечень 
        продукции и сервисов, которые разделены на классы, который широко 
        используется во многих странах мира. Поскольку выбор подходящих 
        классов МКТУ является обязательным этапом при регистрации товарного 
        знака, мы сделали бесплатный сервис для самостоятельного подбора 
        соответствующих классов. Вам нужно лишь указать вид деятельности, 
        например, одежда, чтобы узнать, какие классы МКТУ вам подходят.
      </p>
      <a href="#" class="mktu-whatis__link link">узнать больше</a>
    </div>
  </section>

  <div class="container">
    <div class="page-line"></div>
  </div>

  <section class="faq">
    <div class="faq__container">
      <h2 class="faq__title">
        <b>Ответы</b> на вопросы о МКТУ
      </h2>

      <div class="faq__accordeons">
        <div type="button" class="accordeon">
          <p>Может ли разработчик ПО зарегистрировать своё авторское право для его защиты?</p>
          <button type="button" class="btn btn--secondary btn--small">
            <i class="icon-plus"></i>
            <i class="icon-minus"></i>
          </button>
        </div>
        <div class="faq-answer subaccordeon">
          <p class="_num">01</p>
          <h3>Какие базы учитываются в поиске</h3>
          <p>
            В результатах поиска можно увидеть все знаки, зарегистрированные в ФИПС 
            по национальной или международной процедуре, а также обозначения, 
            находящиеся в процессе регистрации. Кроме того, учитываются заявки, 
            которые подавались на регистрацию и получили отказ либо были отозваны.
          </p>
          <p>
            <img src="data:," 
              data-src="img/bases-screen.webp" alt="" 
              class="lazyload " width="498" height="441">
          </p>
          <h4>Поиск проводится по шести независимым базам:</h4>
          <ul>
            <li>Зарегистрированные товарные знаки РФ</li>
            <li>Зарегистрированные НМПТ (наименования места происхождения товаров)</li>
            <li>Признанные общеизвестными знаки (ОТЗ)</li>
            <li>Международные регистрации, распространенные на Россию</li>
            <li>Ранее поданные заявки на товарные знаки РФ</li>
            <li>Ранее поданные заявки на НМПТ</li>
          </ul>
        </div>
        
        <div type="button" class="accordeon">
          <p>Нужно ли регистрировать программу для ЭВМ в Роспатенте?</p>
          <button type="button" class="btn btn--secondary btn--small">
            <i class="icon-plus"></i>
            <i class="icon-minus"></i>
          </button>
        </div>
        <div class="faq-answer subaccordeon">
          <h3>NO DESIGN</h3>
          <p>no design</p>
        </div>
        
        <div type="button" class="accordeon">
          <p>Нужно ли как-то оформлять своё право на использование придуманного доменного имени?</p>
          <button type="button" class="btn btn--secondary btn--small">
            <i class="icon-plus"></i>
            <i class="icon-minus"></i>
          </button>
        </div>
        <div class="faq-answer subaccordeon">
          <h3>NO DESIGN</h3>
          <p>no design</p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="section consult-help-section container">
    @@include('blocks/_consult-help.html', {isSection: true})
  </section>
</main>
@@include('blocks/_footer.html')