@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?91515141');
  src: url('../font/fontello.eot?91515141#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?91515141') format('woff2'),
       url('../font/fontello.woff?91515141') format('woff'),
       url('../font/fontello.ttf?91515141') format('truetype'),
       url('../font/fontello.svg?91515141#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91515141#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-key:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-check-circle-tiny:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-square:before { content: '\e804'; } /* '' */
.icon-tg:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-whatsapp:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-check-circle:before { content: '\e80a'; } /* '' */
.icon-git-pull-request:before { content: '\e80b'; } /* '' */
.icon-close:before { content: '\e80c'; } /* '' */
.icon-arrow-up-right:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-alert-triangle:before { content: '\e80f'; } /* '' */
.icon-arrow-up-right-medium:before { content: '\e810'; } /* '' */
.icon-corner-right-down:before { content: '\e811'; } /* '' */
.icon-alert-triangle-tiny:before { content: '\e812'; } /* '' */
.icon-arrow-right:before { content: '\e813'; } /* '' */
.icon-chevron-right:before { content: '\e814'; } /* '' */
.icon-grid:before { content: '\e815'; } /* '' */
.icon-alert-circle:before { content: '\e816'; } /* '' */
.icon-file-text:before { content: '\e817'; } /* '' */
.icon-shield:before { content: '\e818'; } /* '' */
.icon-alert-question:before { content: '\e819'; } /* '' */
.icon-phone-medium:before { content: '\e81a'; } /* '' */
.icon-star-half:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e81c'; } /* '' */
.icon-bell:before { content: '\e81d'; } /* '' */
.icon-mouse-pointer:before { content: '\e81e'; } /* '' */
.icon-lock:before { content: '\e81f'; } /* '' */
.icon-phone:before { content: '\e820'; } /* '' */
.icon-file-text-tiny:before { content: '\e821'; } /* '' */
.icon-shopping-cart:before { content: '\e822'; } /* '' */
.icon-globe:before { content: '\e823'; } /* '' */
.icon-zap:before { content: '\e824'; } /* '' */
.icon-shuffle:before { content: '\e825'; } /* '' */
.icon-database:before { content: '\e826'; } /* '' */
.icon-message-circle:before { content: '\e827'; } /* '' */
.icon-copy:before { content: '\e828'; } /* '' */
.icon-file-plus:before { content: '\e829'; } /* '' */
.icon-briefcase:before { content: '\e82a'; } /* '' */
.icon-tag:before { content: '\e82b'; } /* '' */
.icon-life-buoy:before { content: '\e82c'; } /* '' */
.icon-users:before { content: '\e82d'; } /* '' */
.icon-user-check:before { content: '\e82e'; } /* '' */
.icon-zap-tiny:before { content: '\e82f'; } /* '' */
.icon-shield-tiny:before { content: '\e830'; } /* '' */
.icon-check-tiny:before { content: '\e831'; } /* '' */
.icon-award:before { content: '\e832'; } /* '' */
.icon-message-square:before { content: '\e833'; } /* '' */
.icon-minus:before { content: '\e834'; } /* '' */
.icon-play:before { content: '\e835'; } /* '' */
.icon-file:before { content: '\e836'; } /* '' */
.icon-loader:before { content: '\e837'; } /* '' */
.icon-x-circle:before { content: '\e838'; } /* '' */
.icon-clock:before { content: '\e839'; } /* '' */
.icon-eye:before { content: '\e83a'; } /* '' */
.icon-link:before { content: '\e83b'; } /* '' */
.icon-vk:before { content: '\e83e'; } /* '' */
.icon-thumbs-up:before { content: '\e83f'; } /* '' */
.icon-thumbs-down:before { content: '\e840'; } /* '' */
